<% provide(:title, 'All Attendances') %>

<h1>出勤中社員一覧</h1>

    <table class="table table-bordered table-condensed user-table">
     <tbody>
        <div>
            <tr>
              <td>社員番号</td>
              <td>名前</td>
            </tr>
            <% @work_users.each do |a| %>
            <tr>
              <td><%= a.employee_number %></td>
              <td><%= a.name %></td>
            </tr>
             <% end %>
        </div>
     </tbody>
    </table>
